<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store</title>
</head>
<body>
    <h1>Grocery Store</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <a href="/product/<%= product.id %>"><%= product.name %> - $<%= product.price %> - <%= product.weight %>kg</a>
                <form action="/cart/add/<%= product.id %>" method="POST" style="display:inline;">
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <% if (user) { %>
        <a href="/cart">View Cart</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
</body>
</html>
